 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>

    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/bb6bbdb3-541f-4c9c-bb22-cb519b68f854" style="width: 60px;height: 60px">
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/ab3b09b2-df78-42b1-b7d8-0f5e53403947" style="width: 120px;height: 120px">


    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/4851242f-8c0c-47ba-8fcc-44c445129e22" style="width: 60px;height: 60px">
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/2d74902b-316a-4d99-9ad4-21f1d6a57b27" style="width: 60px;height: 60px">
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/26a11d60-23fd-41e8-99d9-3ead8caf1054" style="width: 70px;height: 70px">
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/ce945c52-4956-4769-9f27-ddfaa28cf305" style="width: 60px;height: 60px">

    </div>
</div>
