<div class="user-details">
  <div class="profile">
    <img src="path-to-your-profile-image.jpg" alt="Profile Picture" class="profile-img" style="width: 150px; height: 150px; border-radius: 50%;">
    <div class="profile-info">
      <h1>윤진섭</h1>
      <p>안녕하세요. 새로운 것을 배울 때마다 성장의 기쁨을 느끼는 백엔드 개발자 윤진섭입니다.</p>
      <p>대학교 3학년 때 컴퓨터공학을 복수전공하며 처음으로 코딩을 접하게 되었습니다. 이후 알고리즘 문제를 해결하는 과정에서 직접 해결 방식을 고민하고 충분한 생각 끝에 작성한 코드가 문제를 풀어내는 순간에 코딩에 재미를 느꼈고 개발자로서의 꿈을 키우게 되었습니다. 현재는 백엔드 개발자로서의 꿈을 실현하기 위해 삼성청년소프트웨어아카데미(SSAFY)에 입과하여 끊임없이 배우며 성장하고 있습니다.</p>
      <p>📧 Email: wlstjq447@naver.com</p>
      <p>🔗 GitHub: <a href="https://github.com/jinseobYun" target="_blank"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a></p>
    </div>
  </div>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front-End</h2>
      <i class="devicon-html5-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>

    </div>
    <div class="tech">
      <h2>Back-End</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/bb6bbdb3-541f-4c9c-bb22-cb519b68f854" style="width: 60px;height: 60px">
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/ab3b09b2-df78-42b1-b7d8-0f5e53403947" style="width: 120px;height: 120px">


    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/4851242f-8c0c-47ba-8fcc-44c445129e22" style="width: 60px;height: 60px">
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/2d74902b-316a-4d99-9ad4-21f1d6a57b27" style="width: 60px;height: 60px">
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/26a11d60-23fd-41e8-99d9-3ead8caf1054" style="width: 70px;height: 70px">
      <img src="https://github.com/jinseobYun/jinseobYun.github.io/assets/103829767/ce945c52-4956-4769-9f27-ddfaa28cf305" style="width: 60px;height: 60px">

    </div>
</div>
